<div class="center jumbotron">
  <h1>Welcome to the Sample App</h1>

  <h2>
    This is the home page for RAD Assignment 1 & 2
  </h2>
  <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-danger" %>

</div>

<div class="container">
    
    <div class="row">
      <div class="col-md-4">
        <h2>View course as Guest User</h2>
        <p>Browse and view courses as a guest and sign up later. </p>
        <p><%= link_to "Browse all courses", courses_path, class: "btn btn-danger" %></p>
      </div>
      <div class="col-md-4">
        <h2>Sign into your account</h2>
        <p>Update your courses, rate courses, view coordinator infomations. </p>
        <p><%= link_to "Log into your account", login_path, class: "btn btn-danger" %></p>
      </div>
  </div>


