
<% courses.each_slice(3) do |group| %>
  <div class="row display-flex">
    <% group.each do |course| %>
    <div class="col-sm-6 col-md-4">
      <div class="thumbnail">
       
        <div class="caption">
          <h3 class="thumbnail__header"><%= link_to course.name, course_path(:id => course.id), class: 'thumbnail__link' %></h3>
       
          <% if course.locations.present? %>
            <p><strong>Locations:</strong><br>
              <% names = [] %>
              <% course.locations.each do |p| %>
              <% names << p.name %>
              <% end %>
              <%= names.join(', ') %>
            </p>
          <% else %>
            <p class="red bold"><span class="glyphicon glyphicon-remove-sign" aria-hidden="true"></span> No Locations</p>
          <% end %>
          <% if course.categories.present? %>
            <p><strong>Categories:</strong><br>
              <% names = [] %>
              <% course.categories.each do |p| %>
              <% names << p.name %>
              <% end %>
              <%= names.join(', ') %>
            </p>
          <% else %>
            <p class="red bold"><span class="glyphicon glyphicon-remove-sign" aria-hidden="true"></span> No Categories</p>
          <% end %>
          <div class="thumbnail__button-panel">
              <div class="pull-left">
             
          
                <% if (logged_in?) %>
                  <%= link_to edit_course_path(course.id), class: 'btn', title: "Edit #{course.name}" do %>
                    <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                  <% end %>
                <% end %>
              </div>
            <div class="pull-right">
              
             
            </div>
          </div>
        </div>
      </div>
    </div>
    <% end %>
  </div>
<% end %>