<% provide(:title, @course.name) %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <%= @course.name %>
        <p><span class="glyphicon glyphicon-upload"></span></p> 
        <p><span class="glyphicon glyphicon-download"></span></p> 
      </h1>
    </section>
  </aside>
</div>