<% provide(:title, 'All category') %>
<h1>All category</h1>

<ul class="users">
  <% @category.each do |category| %>
    <li>
      
      <%= link_to category.name, category %>
    </li>
    
  <% end %>
</ul>