<% provide(:title, 'All Locations') %>
<h1>All users</h1>

<ul class="users">
  <% @location.each do |location| %>
    <li>
      
      <%= link_to location.name, location %>
    </li>
    
  <% end %>
</ul>